{% extends 'frontend/base.html' %}
{% load app_icon %}
{% block title %} W12SCAN 网络资产发现引擎{% endblock %}
{% block content %}
    <div class="row show-center">
        <div class="col-3">
            <div class="show-left">
                <div class="port">
                    <h2>&nbsp;&nbsp;&nbsp;端口服务</h2>
                </div>
                <div class="item">
                    <h3>&nbsp;&nbsp;国家</h3>
                    <div class="list-group">
                        {% for app in statistics.countrys %}
                            <a href="#" class="list-group-item list-group-item-action">{{ app.key }} <span
                                    class="badge badge-primary badge-pill float-right">{{ app.doc_count }}</span></a>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <h3>&nbsp;&nbsp;服务</h3>
                    <div class="list-group">
                        {% for app in statistics.names %}
                            <a href="#" class="list-group-item list-group-item-action">{{ app.key }} <span
                                    class="badge badge-primary badge-pill float-right">{{ app.doc_count }}</span></a>
                        {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <h3>&nbsp;&nbsp;端口</h3>
                    <div class="list-group">
                        {% for app in statistics.ports %}
                            <a href="#" class="list-group-item list-group-item-action">{{ app.key }} <span
                                    class="badge badge-primary badge-pill float-right">{{ app.doc_count }}</span></a>
                        {% endfor %}

                    </div>
                </div>

                <div class="item">
                    <h3>&nbsp;&nbsp;组件</h3>
                    <div class="list-group">
                        {% for app in statistics.apps %}
                            <a href="#" class="list-group-item list-group-item-action">{{ app.key }} <span
                                    class="badge badge-primary badge-pill float-right">{{ app.doc_count }}</span></a>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        <div class="col-9">
            <div class="show-right">
                <div class="find col-10">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="type some keywords"
                                   aria-label="Recipient's username">
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-primary" type="button">Search</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="words">
                    <p class="text-muted">找到{{ count }}条结果，用时{{ second }}秒</p>
                </div>


                <div class="show-list">
                    {% for data in datas %}

                        <div class="list-item card border border-0">
                            <div class="card-body">
                                {% if data.doc_type == "ips" %}
                                    <div class="card-body-left">
                                        <h4 class="card-title"><a href="{% url 'ip' %}">{{ data.target }}</a></h4>
                                        <p class="card-text">
                                            {% for info in data.info_tags %}
                                                <span class="badge badge-diy badge-pill">{{ info }}</span>
                                            {% endfor %}
                                        {% if data.bugs %}
                                        <label class="badge badge-danger">存在漏洞</label>
                                        {% endif %}
                                        </p>
                                        <p class="text-muted">
                                            {% if data.location %}
                                                <span
                                                        class="flag-icon flag-icon-{{ data.location.country_id | lower }}"></span>
                                                {{ data.location.country }}
                                                {{ data.location.region }}&nbsp;
                                            {% endif %}
                                        <a class="zichan" href=""><l class="icon-cursor"></l> Bilibili</a>
                                        </p>
                                        <p class="text-muted"><span><i class="icon-clock"></i> {{ data.published_from }}</span>
                                        </p>
                                    </div>
                                    <pre>{{ data.infos }}</pre>
                                {% elif data.doc_type == "domains" %}
                                    <div class="card-body-left">
                                        <h4 class="card-title"><a href="{% url 'ip' %}"
                                                                  class="domain-inline">{{ data.target }}</a></h4>
                                        <p class="card-text">
                                            {% for app in data.app %}
                                                {{ app|app_icon|safe }}
                                            {% endfor %}
                                        {% if data.bugs %}
                                        <label class="badge badge-danger">存在漏洞</label>
                                            {% endif %}
                                        </p>
                                        <p class="text-muted">
                                            {% if data.location %}
                                                <span
                                                        class="flag-icon flag-icon-{{ data.location.country_id | lower }}"></span>
                                                {{ data.location.country }}
                                                {{ data.location.region }}&nbsp;
                                            {% endif %}
                                            <a class="zichan" href=""><l class="icon-cursor"></l> Bilibili</a>
                                        </p>
                                        <p class="text-muted"><span><i class="icon-link"></i> {{ data.url }}</span><br/>
                                            <span><i class="icon-clock"></i> {{ data.published_from }}</span>
                                        </p>
                                    </div>
                                    <pre>{{ data.headers }}<br/><br/>{{ data.body }}
                                </pre>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                </div>

                <nav>
                    <ul class="pagination rounded">
                        <li class="page-item"><a class="page-link" href="/?p={{ pagination.pre }}"><i
                                class="icon-arrow-left"></i></a></li>
                        {% for i in pagination.paginations %}
                            <li class="page-item {% if pagination.current == i %}active{% endif %}"><a class="page-link"
                                                                                                       href="/?p={{ i }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item"><a class="page-link" href="/?p={{ pagination.next }}"><i
                                class="icon-arrow-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
